# Backend

backend/vendor
backend/node_modules
backend/.env

# Frontend

frontend/node_modules
frontend/.env

# General
.env
.DS_Store

# Internal development logs
docs/INFO-*.md
frontend/docs/
backend/docs/

frontend/docs/INFO-*.md
backend/docs/INFO-*.md

frontend/objetivos-diarios/INFO-*.md
frontend/src/modules/auth/pruebas/INFO-*.md