.flex { display: flex;}

/* Direccionado */
.direction-row { flex-direction: row;}
.direction-column { flex-direction: column;}

/* Alineado vertical */
.items-center { align-items: center;}
.items-start { align-items: flex-start;}
.items-end { align-items: flex-end;}

/* Alineado horizontal */
.justify-center { justify-content: center;}
.justify-start { justify-content: flex-start;}
.justify-end { justify-content: flex-end;}
.justify-between { justify-content: space-between;}
.justify-around { justify-content: space-around;}

/* Separacion */
.gap-4 { gap: 16px;}
.gap-8 { gap: 32px;}
.gap-12 { gap: 48px;}

/* Separacion padding */
.pad-16 { padding: 64px;}
.pad-20 { padding: 80px;}
.pad-10-20 { padding: 40px 80px;}

.wrap { flex-wrap: wrap;}