/* GRID BASE */
.grid { display: grid; }

/* Columnas */
.grid-columns { grid-template-columns: repeat(1, 1fr); }
.grid-columns-2 { grid-template-columns: repeat(2, 1fr); }
.grid-columns-3 { grid-template-columns: repeat(3, 1fr); }
.grid-columns-4 { grid-template-columns: repeat(4, 1fr); }

/* Columnas personalizadas */
.grid-columns-sidebar {
  grid-template-columns: 250px 1fr;
}

/* Gap */
.gap-4 { gap: 16px; }
.gap-8 { gap: 32px; }
.gap-12 { gap: 48px; }

.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

