
/*
ç

xs -> 12px
sm -> 14px
base -> 16px
*/

.text-16 { font-size: 24px;}
.text-17 { font-size: 26px;}
.text-18 { font-size: 28px;}
.text-19 { font-size: 30px;}
.text-20 { font-size: 32px;}
.text-21 { font-size: 34px;}
.text-22 { font-size: 36px;}
.text-23 { font-size: 38px;}
.text-24 { font-size: 40px;}
.text-25 { font-size: 42px;}
.text-26 { font-size: 44px;}
.text-27 { font-size: 46px;}
.text-28 { font-size: 48px;}

.weight-100 {font-weight: 100;}
.weight-200 {font-weight: 200;}
.weight-300 {font-weight: 300;}
.weight-400 {font-weight: 400;}
.weight-500 {font-weight: 500;}
.weight-600 {font-weight: 600;}
.weight-700 {font-weight: 700;}

.color-white { color: white;}
.color-black { color: black;}




.title-home {
  display: flex;
  align-self: center;
  font-family: var(--font-main);
  font-size: var(--text-xl);
  color: var(--color-white);
}

.title-home-1 {
  display: flex;
  align-self: center;
  font-family: var(--font-main);
  font-size: var(--text-xl);
  /* color: var(--); */
}


.paragraph {
  display: flex;
  
  font-family: var(--font-main);
  font-size: var(--text-md);
  color: var(--color-white);

  /* align-items: center; */
}


.title-home-2 {
  display: flex;
  
  font-family: var(--font-main);
  font-size: var(--text-xl);
  color: var(--color-info);
  margin-top: 15%;
}


.welcome {
  text-align: center;
  font-family: var(--font-main);
  font-size: var(--text-lg);
}



.begin-your-journey {
  text-align: center;
  font-family: var(--font-main);
  font-size: var(--text-lg);
}
