.dashboard-header .search-dashboard img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.dashboard-header .notifications-circle img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}



.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

