.left-column {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right-column {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container-logo-word {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  padding: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.title-home {
  display: flex;
  align-self: center;
  font-family: var(--font-main);
  font-size: var(--text-xl);
  color: var(--color-white);
}

.container-title-home-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  margin-left: 20px;
}

.title-home-1 {
  display: flex;
  
  font-family: var(--font-main);
  font-size: var(--text-xl);
  color: var(--color-white);
  margin-top: 15%;
}

.paragraph {
  display: flex;
  
  font-family: var(--font-main);
  font-size: var(--text-md);
  color: var(--color-white);

  /* align-items: center; */
}

.container-left-actions {
  display: flex;
  justify-content: center;
  margin-top: var(--space-8xl);
  margin-right: var(--space-2xl);
  gap: 50px;
}



.container-login-register-form {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 15px;

  border: 2px solid var(--color-white);
  border-radius: var(--radius-lg);
  
  box-shadow: var(--shadow-card);
  
  padding: 30px;
  margin-top: 20%;

  width: 400px;
  

}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome {
  text-align: center;
  font-family: var(--font-main);
  font-size: var(--text-lg);
}

.begin-your-journey {
  text-align: center;
  font-family: var(--font-main);
  font-size: var(--text-lg);
}