button {
    border: none;
}

.button {
    padding: 10px 20px;

    border: none;
    border-radius: var(--radius-lg);

    display: inline-flex;
    align-items: center;
    gap: 10px;

    font-family: var(--font-main);
    font-size: var(--text-md);
    font-weight: var(--weight-semi-bold);

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* ICONO */
.button img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

/* VARIANTES */
.button-success {
    background-color: var(--color-success);
    color: var(--color-text);
}

.button-progress {
    background-color: var(--color-progress);
    color: var(--color-text);
}

/* HOVER PRO */
.button:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-hover);
}

/* CLICK */
.button:active {
    transform: scale(0.95);
}

button[type="submit"] {
  width: 100%;

  padding: var(--space-md);

  border: none;
  border-radius: 999px;

  background: var(--color-primary-light);

  color: white;

  font-family: var(--font-main);
  font-size: 16px;
  font-weight: var(--weight-semi-bold);

  cursor: pointer;
  transition: all 0.2s ease;
}

button[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(106, 90, 249, 0.25);
}

button[type="submit"]:active {
  transform: scale(0.97);
}