.header-left { 
    flex: 1; 
} 

.header-center { 
    position: absolute; 
    left: 50%; 
    
    transform: translateX(-50%); 
} 

.header-right { 
    /* flex: 1; */ 
    
    display: flex; 
    gap: 12px;
    
    /* margin-left: 50%; */ 
    
} 

/* dashboard container */ 

.dashboard-header { 
    position: relative; 
    
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    
    padding: 20px; 
} 

.search-dashboard { 
    background-color: #e74c3c; /* rojo tipo imagen */ 
    
    min-width: 50px; 
    height: 50px; 
    margin-top: 20px; 
}