md-icon {
  font-size: 28px;
  line-height: 1;
  display: block;
}

.circle-icon {
  width: 64px;
  height: 64px;

  display: grid;
  place-items: center;

  border-radius: 50%;
  border: 1px solid #ccc;

  cursor: pointer;
  flex-shrink: 0;

  position: relative;
  overflow: hidden;
}

md-ripple {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
}