.modal-overlay {
  position: fixed;
  inset: 0;
  
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;

}

/* CONTENIDO */
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 20px;

  width: 100%;
  max-width: 360px;

  text-align: center;

  box-shadow: 0 20px 50px rgba(0,0,0,0.2);

  animation: modalPop 0.3s ease;
}

.group-icon-title {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ICONO */
.modal-icon {
    font-size: 35px;
    margin-bottom: 10px;
}

/* TITULO */
.modal-title {
    font-family: var(--font-main);
    align-items: center;
    margin-top: 15px;
}

/* MENSAJE */
.modal-message {
    color: var(--color-text-light);
    font-size: 14px;
}

/* TIPOS */
.modal-success {
    border-top: 5px solid var(--color-success);
}

.modal-error {
    border-top: 5px solid var(--color-danger);
}

/* BOTÓN CERRAR */
.modal-close {
    position: absolute;
    top: 10px;
    right: 12px;

    border: none;
    background: none;
    cursor: pointer;

    font-size: 18px;

}


/* Modal Configuracion usuario */

.modal-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    border: none;
}



.card {
    width: 410px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    border: var(--color-border);
}


/* ANIMACIÓN */
@keyframes modalFade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}