.title-dashboard {
    letter-spacing: 1px;
}

.title {
    color: var(--color-white);
    font-family: var(--font-main);
    font-size: 24px;
}

.title-card-learning-settings {
    color: var(--color-white);
    font-family: var(--font-main);
    font-size: 24px;

    display: flex;
    
}


/* Modal Configuración Usuario */
.title-modal-button {
    font-family: var(--font-main);
}