:root {

  /* ===================== */
  /* 🎨 COLORES PRINCIPALES */
  /* ===================== */

  --color-primary: #6D5CF6;          /* morado principal */
  --color-primary-light: #8B7CFF;    /* morado claro */
  --color-primary-dark: #4B3FD6;     /* morado oscuro */

  /* Gradiente morado (lado izquierdo) */
  --gradient-primary: linear-gradient(135deg, #6D5CF6, #5A4BDB);


  /* ===================== */
  /* 🎯 COLORES DE ACCIÓN */
  /* ===================== */

  --color-success: #22c55e;   /* botón verde (Aprende) */
  --color-info: #38bdf8;      /* botón azul (Progresa) */
  --color-danger: #ef4444;
  --color-progress: #16aae9;


  /* ===================== */
  /* ⚪ COLORES BASE */
  /* ===================== */

  --color-white: #ffffff;
  --color-bg: #f3f4f6;        /* fondo gris claro */
  --color-card: #ffffff;      /* tarjetas */

  --color-text: #1f2937;      /* texto principal */
  --color-text-light: #6b7280;/* texto secundario */


  /* ===================== */
  /* 🔘 INPUTS / BORDES */
  /* ===================== */

  --color-border: #e5e7eb;
  --color-input-bg: #f9fafb;
  --color-input-text: #111827;


  /* ===================== */
  /* 📏 ESPACIADOS */
  /* ===================== */

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 52px;
  --space-4xl: 60px;
  --space-5xl: 65px;
  --space-6xl: 72px;
  --space-7xl: 80px;
  --space-8xl: 92px;


  /* ===================== */
  /* GROSOR */
  /* ===================== */

  --weight-extra-extra-extra-light: 100;
  --weight-extra-extra-light: 200;
  --weight-extra--light: 300;
  --weight-normal: 400;
  --weight-normal-normal: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* ===================== */
  /* 🔵 BORDER RADIUS */
  /* ===================== */

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-xl: 30px;


  /* ===================== */
  /* 🌫️ SOMBRAS */
  /* ===================== */

  --shadow-soft: 0 20px 40px rgba(109, 92, 246, 0.2); /* glow morado */
  --shadow-card: 0 10px 25px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 15px 35px rgba(0, 0, 0, 0.2);


  /* ===================== */
  /* 🔤 TIPOGRAFÍA */
  /* ===================== */

  --font-main: 'DM Sans', sans-serif;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-2xl: 40px;


  /* ===================== */
  /* ⚡ TRANSICIONES */
  /* ===================== */

  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;

}