:root {

  /* ===================== */
  /* GROSOR */
  /* ===================== */

  --weight-extra-extra-extra-light: 100;
  --weight-extra-extra-light: 200;
  --weight-extra--light: 300;
  --weight-normal: 400;
  --weight-normal-normal: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* ===================== */
  /* 🌫️ SOMBRAS */
  /* ===================== */

  --shadow-soft: 0 20px 40px rgba(109, 92, 246, 0.2); /* glow morado */
  --shadow-card: 0 10px 25px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 15px 35px rgba(0, 0, 0, 0.2);

  /* ===================== */
  /* ⚡ TRANSICIONES */
  /* ===================== */

  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;

}