:root {

  /* ===================== */
  /* GROSOR */
  /* ===================== */

  --weight-extra-extra-extra-light: 100;
  --weight-extra-extra-light: 200;
  --weight-extra--light: 300;
  --weight-normal: 400;
  --weight-normal-normal: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /* ===================== */
  /* ⚡ TRANSICIONES */
  /* ===================== */

  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;

}